---
layout: default
title: Van Huynh Nguyen
picture: nike
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Van Huynh Nguyen</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        Research Assistant<br/>
        Computer Networks and Communications Lab (CNCL)<br/>
        <a href="http://sce.ntu.edu.sg/Pages/Home.aspx">School of Computer Science and Engineering</a><br/>
        <a href="http://www.ntu.edu.sg/Pages/default.aspx">Nanyang Technological University</a><br/>
      </address>
    </div>
    <div class="col-sm-4">
      <a href="mailto:huynh.nguyenvan@ntu.edu.sg"><span class="glyphicon glyphicon-envelope"></span></a> Email<br/>
      <a href="tel:+65-85097160"><span class="glyphicon glyphicon-phone"></span>+65 8509 7160</a><br/>
      <a href="https://scholar.google.com.vn/citations?user=MaZr_8wAAAAJ&hl=en">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/>
      <a href="https://github.com/nvhuynh">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github
    </div>
  </div>
</div>

<p>
I develop computational models of natural language learning, 
understanding and generation in people and machines, and my research 
focuses on basic scientific, mathematical, and engineering problems 
related to these models. I am especially interested in models 
that handle the diversity of morphological, syntactic, and semantic 
phenomena across the world’s languages. 
<a href="collaborators.html">My research group</a> is part of the larger 
<a href="http://groups.inf.ed.ac.uk/edinburghnlp/">Edinburgh natural language processing group</a>, 
and we collaborate with many people in Edinburgh and more widely. I am 
also the deputy director of the 
<a href="http://datascience.inf.ed.ac.uk/">Centre for Doctoral Training in Data
Science</a>, which offers a four-year MSc + PhD programme.
</p>

<h4>Recent Highlights</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}


